---
name: Merge master
on:
  pull_request:
    types:
      - closed
concurrency:
  group: ${{ github.ref }}.merge
  cancel-in-progress: true
env:
  COMPOSE_DOCKER_CLI_BUILD: 1
  DOCKER_BUILDKIT: 1
  DOCKER_DEFAULT_PLATFORM: linux/amd64
jobs:
  merged:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      security-events: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: jpribyl/action-docker-layer-caching@v0.1.0
      - name: Log in to Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: itsthejb
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - name: Setup buildx
        uses: docker/setup-buildx-action@v2
      - name: Build image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          build-args: |
            BUILD_TZ=Europe/London
            BUILD_HOSTNAME=myhost.test.com
            BUILD_MYSQL_PW=pass
            BUILD_PRINTING=no
            BUILD_REDIS=yes
            BUILD_ISPCONFIG_USE_SSL=yes
          tags: itsthejb/ispconfig:latest
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Run Snyk check
        continue-on-error: true
        uses: snyk/actions/docker@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          image: itsthejb/ispconfig
          args: --file=Dockerfile
      - name: Upload result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: snyk.sarif
