---
name: Pull request
on:
  pull_request:
    branches-ignore: [master, main]
  push:
    branches-ignore: [master, main]
concurrency:
  group: ${{ github.ref }}.pr
  cancel-in-progress: true
env:
  COMPOSE_DOCKER_CLI_BUILD: 1
  DOCKER_BUILDKIT: 1
  DOCKER_DEFAULT_PLATFORM: linux/amd64
jobs:
  build:
    name: Build & test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: everlytic/branch-merge@1.1.2
        with:
          github_token: ${{ github.token }}
          source_ref: 'master'
          target_branch: ${{ github.ref }}
          commit_message_template: '[Automated] Merged {source_ref} into target {target_branch}'
      - uses: jpribyl/action-docker-layer-caching@v0.1.0
      - name: Setup buildx
        uses: docker/setup-buildx-action@v2
      - name: Build image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: false
          build-args: |
            BUILD_TZ: Europe/London
            BUILD_HOSTNAME: myhost.test.com
            BUILD_MYSQL_PW: pass
            BUILD_PRINTING: "no"
            BUILD_REDIS: "yes"
            BUILD_ISPCONFIG_USE_SSL: "yes"
          tags: itsthejb/ispconfig:github
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Run Snyk check
        continue-on-error: true
        uses: snyk/actions/docker@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          image: itsthejb/ispconfig
          args: --file=Dockerfile
      - name: Upload result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: snyk.sarif
      - name: Prepare test
        run: hooks/pre_test
      - name: Run tests
        run: hooks/test
