name: Snyk Container

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  schedule:
    - cron: '32 1 * * 2'

permissions:
  contents: read

jobs:
  snyk:
    permissions:
      contents: read
      security-events: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: jpribyl/action-docker-layer-caching@v0.1.0
    - name: Build a Docker image
      run: docker build -t itsthejb/ispconfig .
    - name: Run Snyk to check Docker image for vulnerabilities
      continue-on-error: true
      uses: snyk/actions/docker@14818c4695ecc4045f33c9cee9e795a788711ca4
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      with:
        image: itsthejb/ispconfig
        args: --file=Dockerfile
    - name: Upload result to GitHub Code Scanning
      uses: github/codeql-action/upload-sarif@v2
      with:
        sarif_file: snyk.sarif
